/ Welcome Section
%section
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark{style: 'background: black!important'}
    %a.navbar-brand{:href => "#"}
      = image_tag 'logo.png', :alt => 'Sample App', :class => 'rounded mx-auto d-block', width: 50
    %button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavAltMarkup", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav
        %a.nav-item.nav-link.active{:href => "#"}
          About
          %span.sr-only (current)
        %a.nav-item.nav-link.disabled{:href => "#"} Events
        %a.nav-item.nav-link.disabled{:href => "#"} Musicians
        %a.nav-item.nav-link.disabled{:href => "#"} Radio
    %span.navbar-text
      %a{ href: 'https://www.youtube.com/channel/UC4TqgDUrHqbOpUN80DYyhYw' }
        .fa.fa-brands.fa-youtube{style: 'color: white', height: '100px'}
      %span &#8226;
      %a{ href: 'https://www.instagram.com/60steensclub/' }
        .fa
        .fa.fa-brands.fa-instagram{style: 'color: white', height: '100px'}
      %span &#8226;
      %a{ href: 'https://vk.com/60steens.club' }
        .fa
        .fa.fa-brands.fa-vk{style: 'color: white', height: '100px'}
%section#tmWelcome.parallax-window{"data-image-src" => "#{image_url('main_img.jpg')}", "data-parallax" => "scroll"}
  .container-fluid.tm-brand-container-outer
    .row
      .col-12
        / Logo Area
        / Black transparent bg
        .mr-0.tm-bg-black-transparent.text-white.tm-brand-container-inner
          .tm-brand-container.text-center
            / %h1.tm-brand-name Mini Profile
            = image_tag('logo.png', :class => 'tm-brand-logo')
            %br
            %br
            %p.tm-brand-description.mb-0 ART ROCK 
            %p.tm-brand-description.mb-0 &#8226;
            %p.tm-brand-description.mb-0 PROGRESSIVE  
            %p.tm-brand-description.mb-0 &#8226;
            %p.tm-brand-description.mb-0 PSYCHEDELIC 

  .tm-bg-white-transparent.tm-welcome-container
    .container-fluid
      .row.h-100
        / Welcome Text
        / White transparent bg
        .col-md-7.tm-welcome-left-col
          .tm-welcome-left
            %h1.tm-welcome-title= "NEXT GIG: #{@upcoming.title_en}"
            %h3.tm-welcome-title= @upcoming.event_date_time.in_time_zone('Lisbon').strftime("%d %B %Y, %H:%m (%Z)")
            %p.pb-0{ style: 'color: black!important' }
              = @upcoming.text_en
        / Brown bg
        .col-md-5
          / .tm-welcome-right
          / %i.fas.fa-4x.fa-address-card.p-3.tm-welcome-icon
          = @upcoming.location.html_safe
/ End Welcome section
/ Portfolio section
%section#tmPortfolio
  .container-fluid
    - @crew.each do |member|
      .row
        .col-12
          .tm-portfolio-item
            / %div.tm-portfolio-name.text-white.tm-bg-green
            %div.tm-portfolio-name.tm-bg-green
              = image_tag member.main_image, alt: '', height: '100%', width: '100%', class: ''
              =#  image_tag "#{url_for(member.main_image)}", alt: '', height: '100%', width: '100%', class: ''
            .tm-portfolio-description
              %h1
                = member.name_en
              %h4
                = member.instruments
              %hr
              %p.mb-0
                = member.bio_en

/ End portfolio section
/ Contact section
#tmContact.parallax-window{"data-image-src" => "#{image_url('main_img2.jpg')}", "data-parallax" => "scroll"}
  .container-fluid
    .row
      .col-12
        .tm-contact-items-container
          .tm-contact-item
            = image_tag(@upcoming.poster, height: '100%', width: '100%')
          .tm-contact-item
            %h3
              NEXT EVENT:
            %h3
              = @upcoming.title_en
            %hr
            %h5.tm-welcome-title= @upcoming.event_date_time.in_time_zone('Lisbon').strftime("%d %B %Y, %H:%m (%Z)")
            %hr
            %p.mb-0
              = @upcoming.text_en
          .tm-contact-item{ style: 'width: 680px;' }
            = @upcoming.location.html_safe
    .row
      .col-12
        = form_with model: Subscription.new, html: {id: 'tmContactForm', class: 'tm-bg-white-transparent'} do |form|
          .form-group
            = form.text_field :email, placeholder: "Email", id: 'contact_email', type: 'email', class: 'form-control rounded-0 border-top-0 border-right-0 border-left-0', required: true
          .form-group
            = form.text_field :country, placeholder: "Select country", class: 'form-control rounded-0 border-top-0 border-right-0 border-left-0'
          .text-center
            = form.submit "Subscribe", class: 'btn tm-btn-submit rounded-0 text-white'
        - flash.each do |type, msg|
          - if type == 'notice'
            = content_tag :div, msg, class: "alert alert-success"
          - else
            = content_tag :div, msg, class: "alert alert-danger"
    / row
    .row
      %footer.col-12
        %p.text-center.tm-copyright-text
  / container
/ section