%p#notice= notice
%h1 Videos
%table
  %thead
    %tr
      %th Title
      %th Youtube link
      %th{:colspan => "3"}
  %tbody
    - @videos.each do |video|
      %tr
        %td= video.title
        %td= video.youtube_link
        %td= link_to 'Show', video
        %td= link_to 'Edit', edit_video_path(video)
        %td= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Video', new_video_path
