%p#notice= notice
%p
  %strong Published:
  = @event.published
%p
  %strong Location:
  = @event.location.html_safe
%p
  %strong Event date time:
  = @event.event_date_time
%p
  %strong Title en:
  = @event.title_en
%p
  %strong Title ru:
  = @event.title_ru
%p
  %strong Text en:
  = @event.text_en
%p
  %strong Text ru:
  = @event.text_ru
- @event.images.each do |img|
  %td= image_tag(img)
- @event.videos.each do |v|
  - if v.youtube_link.present?
    %td= v.youtube_link.html_safe
  - elsif v.videofile.attached?
    %td= video_tag(url_for(v.videofile), controls: true)
= link_to 'Edit', edit_event_path(@event)
|
= link_to 'Back', events_path
