/*
 * Basic CSS starts
 */


 html {
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
  }
  
  body {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #6b6b6b;
	overflow-x: hidden;
  }
  
  a,
  button {
	transition: all 0.3s ease;
  }
  
  a:hover {
	text-decoration: none;
  }
  
  .container-fluid {
	max-width: 1200px;
  }
  
  .tm-bg-black-transparent {
	background-color: rgba(0, 0, 0, 0.5);
  }
  
  .tm-bg-white-transparent {
	background-color: rgba(255, 255, 255, 0.8);
  }
  
  .tm-bg-green {
	background-color: #98cb00;
  }
  
  .tm-bg-orange {
	background-color: #cc6733;
  }
  
  .tm-bg-blue {
	background-color: #3398cc;
  }
  
  .tm-bg-dark-gray {
	background-color: #676767;
  }
  
  /*
	Welcome section
  */
  #tmWelcome {
	position: relative;
	display: flex;
	align-items: center;
  }
  
  .tm-brand-container-outer {
	margin-top: -400px;
  }
  
  .tm-brand-container-inner {
	max-width: 400px;
	width: 100%;
  }
  
  .tm-brand-container {
	padding: 75px 110px;
  }
  
  .tm-brand-name {
	font-size: 3.8rem;
  }
  
  .tm-brand-description {
	font-size: 1.4rem;
  }
  
  .parallax-window {
	min-height: 1100px;
	background: transparent;
  }
  
  #tmContact {
	min-height: 1197px;
  }
  
  .tm-welcome-container {
	min-height: 400px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: stretch;
  }
  
  .tm-welcome-title {
	margin-bottom: 40px;
  }
  
  .tm-welcome-left {
	padding-right: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
  }
  
  .tm-welcome-left-col {
	display: flex;
	align-items: center;
  }
  
  .tm-welcome-right {
	color: white;
	background-color: #986665;
	padding: 80px 43px 70px;
	height: 100%;
  }
  
  .tm-welcome-icon {
	margin-bottom: 50px;
	display: block;
	text-align: center;
  }
  
  /*
	Portfolio section
  */
  
  #tmPortfolio {
	padding-top: 80px;
  }
  
  .tm-portfolio-item {
	display: flex;
	align-items: center;
	margin-bottom: 80px;
  }
  
  .tm-portfolio-name {
	width: 330px;
	height: 330px;
	font-size: 2rem;
	display: flex;
	align-items: center;
	text-align: center;
  }
  
  .tm-portfolio-description {
	width: calc(100% - 330px);
	padding: 20px 45px;
  }
  
  .tm-portfolio-description h3 {
	margin-bottom: 20px;
  }
  
  .tm-text-green {
	color: #98cb00;
  }
  
  .tm-text-orange {
	color: #cc6733;
  }
  
  .tm-text-blue {
	color: #3398cc;
  }
  
  .tm-text-dark-gray {
	color: #676767;
  }
  
  .tm-title-small {
	font-size: 1.3rem;
  }
  
  p {
	line-height: 1.8;
  }
  
  /*
	Contact section
  */
  
  #tmContact {
	padding-top: 95px;
  }
  
  .tm-contact-item {
	width: 33.3334%;
	max-width: 345px;
	height: auto;
	min-height: 420px;
	margin-right: 35px;
	background-color: white;
	padding: 54px 34px 44px;
  }
  
  .tm-contact-item:last-child {
	margin-right: 0;
  }
  
  .tm-contact-items-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 130px;
  }
  
  .tm-contact-item-icon {
	margin-bottom: 45px;
	width: 100%;
	height: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  #tmContactForm {
	width: 100%;
	max-width: 680px;
	padding: 45px 45px 30px;
	margin-bottom: 95px;
  }
  
  .form-group {
	max-width: 355px;
  }
  
  .form-control {
	background: transparent;
	border-color: #999999;
	padding: 15px 10px;
	font-size: 1.1rem;
	margin-bottom: 10px;
  }
  
  .tm-btn-submit {
	background-color: #999999;
	padding: 12px 30px;
	font-size: 1.2rem;
  }
  
  .tm-btn-submit:focus,
  .tm-btn-submit:hover {
	background-color: #676767;
  }
  
  .tm-copyright-text {
	margin-bottom: 30px;
  }
  
  .tm-link {
	color: #676767;
  }
  
  @media (max-width: 1054px) {
	.tm-contact-item-icon {
	  margin-bottom: 15px;
	}
  }
  
  @media (max-width: 991px) {
	.tm-contact-items-container {
	  flex-direction: column;
	}
  
	.tm-contact-item {
	  width: auto;
	  max-width: 680px;
	  min-height: 0;
	  margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 30px;
	}
  
	.tm-contact-item:last-child {
	  margin-right: auto;
	  margin-bottom: 0;
	}
  
	#tmContactForm {
	  margin-left: auto;
	  margin-right: auto;
	}
  }
  
  @media (max-width: 730px) {
	.tm-portfolio-item {
	  flex-direction: column;
	}
  
	.tm-portfolio-name {
	  justify-content: center;
	}
  
	.tm-portfolio-name,
	.tm-portfolio-description {
	  width: 100%;
	}
  
	.tm-portfolio-description {
	  padding: 20px 30px;
	}
  }
  
  @media (max-width: 572px) {
	.tm-brand-container {
	  padding: 45px;
	}
  }
  
  @media (max-width: 443px) {
	.tm-brand-name {
	  font-size: 3rem;
	}
  
	.tm-brand-container {
	  padding: 25px;
	}
  }
  